version: 2
registries:
  npm-registry-registry-npmjs-org: # Only required if you use npm
    type: npm-registry
    url: https://registry.npmjs.org
    token: "${{secrets.NPM_REGISTRY_REGISTRY_NPMJS_ORG_TOKEN}}"
updates:
- package-ecosystem: npm # Only required if you use npm
  directory: "/"
  schedule:
    interval: daily
    time: "00:00"
    timezone: UTC
  open-pull-requests-limit: 15
  versioning-strategy: increase
  ignore:
  - dependency-name: "@types/node"
    versions:
    - ">=17.0.0"
  commit-message:
    prefix: build
    include: scope
  registries:
  - npm-registry-registry-npmjs-org
  cooldown:
    default-days: 15
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    time: "00:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: build
    include: scope
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'