# version: 2.1

# orbs:
#   vault: contentful/vault@1

# commands:
#   install-dependencies:
#     steps:
#       - restore_cache:
#           keys:
#             - npm-cache-{{ arch }}-{{ checksum ".nvmrc" }}-{{ checksum "package-lock.json" }}
#             - npm-cache
#       - vault/get-secrets:
#           template-preset: "packages-read"
#       - run: echo "//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_READ_TOKEN}" > ~/.npmrc
#       - run: echo "@contentful:registry=https://npm.pkg.github.com" >> ~/.npmrc
#       - run: npm ci --prefer-offline

#   use-vault:
#     steps:
#       - vault/get-secrets:
#           template-preset: "semantic-release-ecosystem"
#       - run: echo "//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_WRITE_TOKEN}" > ~/.npmrc
#       - run: echo "@contentful:registry=https://npm.pkg.github.com" >> ~/.npmrc

# jobs:
#   unit:
#     docker:
#       - image: cimg/node:18.18.0
#     steps:
#       - checkout
#       - restore_cache:
#           key: dependency-cache-{{ checksum "package.json" }}
#       - run: npm install
#       - run: npm run build
#       - run: npm run test:unit
#   integration:
#     docker:
#       - image: cimg/node:18.18.0
#     steps:
#       - checkout
#       - restore_cache:
#           key: dependency-cache-{{ checksum "package.json" }}
#       - run: npm install
#       - run: npm run build
#       - run: npm run test:integration
#   release:
#     docker:
#       - image: cimg/node:lts # semantic-release requires node 20 or higher
#     steps:
#       - checkout
#       - install-dependencies
#       - use-vault
#       - run: npm install
#       - run: npm run build
#       - run: npm run semantic-release
# workflows:
#   version: 2
#   build_and_test:
#     jobs:
#       - unit
#       - integration
#       - release:
#           context: vault
#           requires:
#             - unit
#             - integration
#           filters:
#             branches:
#               only:
#                 - main
#                 - beta
#                 - testing-publishing-to-github-packages
