name: Run Checks

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Restore the build folders
        uses: actions/cache/restore@v4
        with:
          path: |
            dist
          key: build-cache-${{ github.run_id }}-${{ github.run_attempt }}

      # The lint step is commented out for now because the current lint errors 
      # need to be fixed before enabling the linter in CI for the first time.
      # - name: Run linter
      #   run: npm run lint
      
      - name: Run unit tests
        run: npm run test:unit
