name: Run Checks

on:
  workflow_call:
    secrets:
      MANAGEMENT_TOKEN:
        required: true
      ORG_ID:
        required: true

jobs:
  # lint:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v5

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v6
  #       with:
  #         node-version-file: '.nvmrc'
  #         cache: 'npm'

  #     - name: Configure GitHub Packages
  #       run: |
  #         echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_PACKAGES_READ_TOKEN }}" > ~/.npmrc
  #         echo "@contentful:registry=https://npm.pkg.github.com" >> ~/.npmrc

  #     - name: Install dependencies
  #       run: npm ci

  #     - name: Restore the build folders
  #       uses: actions/cache/restore@v4
  #       with:
  #         path: |
  #           dist
  #         key: build-cache-${{ github.run_id }}-${{ github.run_attempt }}

  #     - name: Run linter
  #       run: npm run lint

  #     - name: Check formatting
  #       run: npm run format:check

  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Restore the build folders
        uses: actions/cache/restore@v4
        with:
          path: |
            dist
          key: build-cache-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Run unit tests
        run: npm run test:unit

  integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Restore the build folders
        uses: actions/cache/restore@v4
        with:
          path: |
            dist
          key: build-cache-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Run integration tests
        run: npm run test:integration
        env:
          MANAGEMENT_TOKEN: ${{ secrets.MANAGEMENT_TOKEN }}
          ORG_ID: ${{ secrets.ORG_ID }}