name: CI
permissions:
  contents: read

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    uses: ./.github/workflows/build.yml

  check:
    needs: build
    uses: ./.github/workflows/check.yml
    secrets:
      MANAGEMENT_TOKEN: ${{ secrets.CONTENTFUL_INTEGRATION_TEST_CMA_TOKEN }}
      ORG_ID: ${{ secrets.CONTENTFUL_ORGANIZATION_ID }}

  # release:
  #   if: github.event_name == 'push' && contains(fromJson('["refs/heads/main", "refs/heads/beta", "refs/heads/testing-publishing-to-github-packages"]'), github.ref)
  #   needs: [build, check]
  #   permissions:
  #     contents: read
  #     id-token: write   # Required for OIDC trusted publishing to npm
  #   uses: ./.github/workflows/release.yml

